<h2>Perfil del Usuario</h2>
<ul>
    <li>Username: {{username}}<br>
        Nombre: {{name}}<br>
        Descripción: {{descripción}}<br>
        Avatar: {{avatar}}<br>
        Skills: {{skills}}<br>
        Role: {{role}}
        playedGames: {{playedGames}}<br>
        Amigos: {{friends}}<br>
    </li>
</ul>